{% extends "base.html" %}

{% block content %}
    <h1>Информация о Красном селе!</h1>
    <p>Я живу в Красном селе, на 7 этаже...</p>
    <p><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d20269.629471038024!2d30.08394011714309!3d59.73278840877505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1753299235272!5m2!1sru!2sru"
               width="1300" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
    <p align="center">Красное Село было основано по воле Петра I почти одновременно с Санкт-Петербургом.
        В 1709 году Пётр I выбрал место в долине реки Дудергофки для строительства первой в России бумажной мельницы,
        а в 1714 году началось возведение фабрики, что считается годом основания поселения.</p>

     <p align="center">Название «Красное» связано либо с переселением дворцовых крестьян из подмосковного Красного Села,
         либо с красотой местности, так как в старорусском языке «красное» означало «красивое». </p>

<


{% endblock %}

